@import "./variables";
@import "~font-awesome/scss/font-awesome";
@import '~bootstrap/scss/bootstrap';

body {
    padding-top: 4.2rem;
}

h1 {
    margin-top: 0
}

.navbar {
    background-color: #0c64a2;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

.app-footer {
    padding-bottom: 1em;
}