<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/build{{ mix('/css/app.css') }}" />
    <title>{% block title %}{% endblock %} - App</title>
</head>
<body class="app">
<header class="app-header">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">
                Application
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="{{ path('blog') }}"><i class="fa fa-book"></i> Blog</a></li>
                    <li><a class="nav-link" href="{{ path('about') }}"><i class="fa fa-book"></i> About</a></li>
                    <li><a class="nav-link" href="{{ path('cabinet') }}"><i class="fa fa-user"></i> Cabinet</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="app-content">
    <main class="container">
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
</div>

<footer class="app-footer">
    <div class="container">
        <hr />
        <p>&copy; 2022 - Ed Vax</p>
    </div>
</footer>

<script src="/build{{ mix('/js/app.js') }}"></script>
</body>
</html>